<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let control of jsonFormData?.controls">
    <span>
      <label [for]="control.name">{{ control.label }}</label>
    </span>
    &nbsp;
    <input
      *ngIf="
        [
          'text',
          'checkbox',
          'email',
          'password',
          'number',
          'search',
          'tel',
          'url',
          'range',
          'toggle'
        ].includes(control.type)
      "
      [id]="control.name"
      [formControlName]="control.name"
      [type]="control.type"
    />
    <textarea
      *ngIf="control.type === 'textarea'"
      [id]="control.name"
      [formControlName]="control.name"
      [value]="control.value"
    ></textarea>

    <!-- <div
      *ngIf="
        myForm.get(field.name).invalid &&
        (myForm.get(field.name).dirty || myForm.get(field.name).touched)
      "
    >
      <small class="error" *ngIf="myForm.get(field.name).errors?.required"
        >This field is required.</small
      >
      <small class="error" *ngIf="myForm.get(field.name).errors?.minlength"
        >Minimum length is {{ field.validators.minlength }} characters.</small
      >
      <small class="error" *ngIf="myForm.get(field.name).errors?.maxlength"
        >Maximum length is {{ field.validators.maxlength }} characters.</small
      >
    </div> -->
  </div>
  <button type="submit" [disabled]="myForm.invalid">Submit</button>
</form>
