<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BikeStores.MVC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BikeStores.MVC.styles.css" asp-append-version="true" />
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }
    </style>
</head>
<body>
    <header class="bg-dark text-white py-3">
        <div class="container">
            <h1 class="mb-0">Header</h1>
        </div>
    </header>

    <main class="py-4">
        <div class="container">
            <div class="row">
                <nav class="col-md-3 mb-3">
                    <h2 class="h4">Navigation</h2>
                    <ul class="nav flex-column">
                        @* <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li> *@
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Brands" asp-action="Index">Brands</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a></li>
                    </ul>
                </nav>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-dark text-white py-3 mt-auto">
        <div class="container">
            &copy; 2025 - BikeStores.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
